# Core
streamlit
pymupdf
pytesseract
Pillow
python-dotenv
langchain-huggingface
langchain-core
transformers
torch
huggingface-hub
PyMuPDF
pytesseract
Pillow
python-dotenv

# LangChain
langchain
langchain-huggingface
langchain-text-splitters
langchain-core

# ML
safetensors
huggingface-hub


